In [26]:
import pandas as pd
from sqlalchemy import create_engine
import sys
import psycopg2
import sqlite3
from config import pg_key

In [2]:
cis_df = pd.read_csv("../Resources/Data Sources/reduced_auto_df.csv")
cis_df.head(2)

,MSRP,Selling_Price,Mileage,Cruise_Control,AutoReverseSystem,PedestrianAlertingSound,Axles,BasePrice,BedLengthIN,BedType,...,ForwardCollisionWarning,KeylessIgnition,Make,Model,ModelYear,PedAutoEBrake,TopSpeedMPH,TransmissionSpeeds,TransmissionStyle,VehicleType
0,41659,41659,0,NaN,Standard,NaN,2.0,NaN,NaN,NaN,...,Standard,NaN,FORD,F-150,2019.0,Standard,NaN,NaN,Automatic,TRUCK
1,47174,47174,0,NaN,Standard,NaN,2.0,NaN,NaN,NaN,...,Standard,NaN,FORD,F-150,2019.0,Standard,NaN,NaN,Automatic,TRUCK

In [3]:
cis_df.loc[cis_df['Selling_Price'] > cis_df['MSRP']]

Empty DataFrame
Columns: [MSRP, Selling_Price, Mileage, Cruise_Control, AutoReverseSystem, PedestrianAlertingSound, Axles, BasePrice, BedLengthIN, BedType, BlindSpotMon, BodyCabType, BodyClass, Doors, DriveType, EngineHP, ForwardCollisionWarning, KeylessIgnition, Make, Model, ModelYear, PedAutoEBrake, TopSpeedMPH, TransmissionSpeeds, TransmissionStyle, VehicleType]
Index: []

[0 rows x 26 columns]

In [4]:
cis_df.loc[cis_df['Selling_Price'] < cis_df['MSRP']]

,MSRP,Selling_Price,Mileage,Cruise_Control,AutoReverseSystem,PedestrianAlertingSound,Axles,BasePrice,BedLengthIN,BedType,...,ForwardCollisionWarning,KeylessIgnition,Make,Model,ModelYear,PedAutoEBrake,TopSpeedMPH,TransmissionSpeeds,TransmissionStyle,VehicleType
7,16476,15976,0,NaN,Standard,NaN,2.0,22840.0,NaN,NaN,...,Standard,Standard,FORD,Fusion,2019.0,Standard,155.0,NaN,NaN,PASSENGER CAR
9,34326,33076,0,NaN,Standard,NaN,2.0,NaN,NaN,NaN,...,Standard,NaN,FORD,F-150,2019.0,Standard,NaN,NaN,Automatic,TRUCK
14,52897,49397,0,NaN,Standard,NaN,2.0,NaN,NaN,NaN,...,Standard,NaN,FORD,F-150,2019.0,Standard,NaN,NaN,Automatic,TRUCK
15,21360,16860,0,NaN,Standard,NaN,2.0,24120.0,NaN,NaN,...,Standard,Standard,FORD,Fusion,2019.0,Standard,155.0,NaN,NaN,PASSENGER CAR
18,21360,16860,0,NaN,Standard,NaN,2.0,24120.0,NaN,NaN,...,Standard,Standard,FORD,Fusion,2019.0,Standard,155.0,NaN,NaN,PASSENGER CAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156934,52600,42250,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,CHEVROLET,Silverado,2020.0,NaN,NaN,NaN,NaN,TRUCK
156935,27650,24214,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,CHEVROLET,Camaro,2020.0,NaN,NaN,NaN,Automatic,PASSENGER CAR
156936,62535,51803,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,CHEVROLET,Silverado,2020.0,NaN,NaN,NaN,NaN,TRUCK
156937,53595,46215,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,CHEVROLET,Silverado,2020.0,NaN,NaN,NaN,NaN,TRUCK
157254,44990,42990,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,HONDA,Civic,2018.0,NaN,NaN,6.0,Manual/Standard,PASSENGER CAR

### Adjust Data Types

In [22]:
cis_df = cis_df.replace({
    None:0,
    "NA": 0,
    "Optional": 1,
    "Standard": 2
})
cis_df.head(2)
cis_df.dtypes

MSRP                         int64
Selling_Price                int64
Mileage                      int64
Cruise_Control               int64
AutoReverseSystem            int64
PedestrianAlertingSound     object
Axles                      float64
BasePrice                  float64
BedLengthIN                float64
BedType                     object
BlindSpotMon                object
BodyCabType                 object
BodyClass                   object
Doors                      float64
DriveType                   object
EngineHP                   float64
ForwardCollisionWarning      int64
KeylessIgnition              int64
Make                        object
Model                       object
ModelYear                  float64
PedAutoEBrake                int64
TopSpeedMPH                float64
TransmissionSpeeds         float64
TransmissionStyle           object
VehicleType                 object
dtype: object

In [24]:
# Save back to CSV to continue processing in Postgres.

cis_df.to_csv("../Resources/Data Sources/cis_step_2.csv", index=False)

In [16]:
sqlite_table = "sales"
cis_df.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2022-07-04 17:39:03,050 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sales")
2022-07-04 17:39:03,051 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-04 17:39:03,052 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("sales")
2022-07-04 17:39:03,052 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-04 17:39:03,055 INFO sqlalchemy.engine.Engine
CREATE TABLE sales (
	"index" BIGINT,
	"MSRP" BIGINT,
	"Selling_Price" BIGINT,
	"Mileage" BIGINT,
	"Cruise_Control" TEXT,
	"AutoReverseSystem" TEXT,
	"PedestrianAlertingSound" TEXT,
	"Axles" FLOAT,
	"BasePrice" FLOAT,
	"BedLengthIN" FLOAT,
	"BedType" TEXT,
	"BlindSpotMon" TEXT,
	"BodyCabType" TEXT,
	"BodyClass" TEXT,
	"Doors" FLOAT,
	"DriveType" TEXT,
	"EngineHP" FLOAT,
	"ForwardCollisionWarning" TEXT,
	"KeylessIgnition" TEXT,
	"Make" TEXT,
	"Model" TEXT,
	"ModelYear" FLOAT,
	"PedAutoEBrake" TEXT,
	"TopSpeedMPH" FLOAT,
	"TransmissionSpeeds" FLOAT,
	"TransmissionStyle" TEXT,
	"VehicleType" TEXT
)


2022-07-04 17:39:03,056 INFO sqlalchemy.engine.Engine [no key 0.00062s] ()
2022-07-04 17:39:03,068 INFO sqlalchemy.engine.Engine COMMIT
2022-07-04 17:39:03,068 INFO sqlalchemy.engine.Engine CREATE INDEX ix_sales_index ON sales ("index")
2022-07-04 17:39:03,069 INFO sqlalchemy.engine.Engine [no key 0.00052s] ()
2022-07-04 17:39:03,080 INFO sqlalchemy.engine.Engine COMMIT
2022-07-04 17:39:03,277 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-04 17:39:06,643 INFO sqlalchemy.engine.Engine INSERT INTO sales ("index", "MSRP", "Selling_Price", "Mileage", "Cruise_Control", "AutoReverseSystem", "PedestrianAlertingSound", "Axles", "BasePrice", "BedLengthIN", "BedType", "BlindSpotMon", "BodyCabType", "BodyClass", "Doors", "DriveType", "EngineHP", "ForwardCollisionWarning", "KeylessIgnition", "Make", "Model", "ModelYear", "PedAutoEBrake", "TopSpeedMPH", "TransmissionSpeeds", "TransmissionStyle", "VehicleType") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-07-04 17:39:06,651 INFO sqlalchemy.engine.Engine [generated in 2.76084s] ((0, 41659, 41659, 0, None, 'Standard', None, 2.0, None, None, None, None, 'Crew/ Super Crew/ Crew Max', 'Pickup', None, '4WD/4-Wheel Drive/4x4', 395.0, 'Standard', None, 'FORD', 'F-150', 2019.0, 'Standard', None, None, 'Automatic', 'TRUCK '), (1, 47174, 47174, 0, None, 'Standard', None, 2.0, None, None, None, None, 'Crew/ Super Crew/ Crew Max', 'Pickup', None, '4WD/4-Wheel Drive/4x4', 395.0, 'Standard', None, 'FORD', 'F-150', 2019.0, 'Standard', None, None, 'Automatic', 'TRUCK '), (2, 12568, 12568, 0, None, 'Standard', 'Standard', 2.0, 15490.0, None, None, None, None, 'Sedan', 4.0, None, 120.0, None, None, 'FORD', 'Fiesta', 2019.0, None, 130.0, None, None, 'PASSENGER CAR'), (3, 12568, 12568, 0, None, 'Standard', 'Standard', 2.0, 15490.0, None, None, None, None, 'Sedan', 4.0, None, 120.0, None, None, 'FORD', 'Fiesta', 2019.0, None, 130.0, None, None, 'PASSENGER CAR'), (4, 19514, 19514, 0, None, 'Standard', None, 2.0, 24120.0, None, None, 'Standard', None, 'Sedan', 4.0, None, None, 'Standard', 'Standard', 'FORD', 'Fusion', 2019.0, 'Standard', 155.0, None, None, 'PASSENGER CAR'), (5, 12572, 12572, 0, None, 'Standard', 'Standard', 2.0, 15490.0, None, None, None, None, 'Sedan', 4.0, None, 120.0, None, None, 'FORD', 'Fiesta', 2019.0, None, 130.0, None, None, 'PASSENGER CAR'), (6, 12568, 12568, 0, None, 'Standard', 'Standard', 2.0, 15490.0, None, None, None, None, 'Sedan', 4.0, None, 120.0, None, None, 'FORD', 'Fiesta', 2019.0, None, 130.0, None, None, 'PASSENGER CAR'), (7, 16476, 15976, 0, None, 'Standard', None, 2.0, 22840.0, None, None, 'Standard', None, 'Sedan', 4.0, None, 175.0, 'Standard', 'Standard', 'FORD', 'Fusion', 2019.0, 'Standard', 155.0, None, None, 'PASSENGER CAR')  ... displaying 10 of 157402 total bound parameter sets ...  (157400, 19368, 19368, 0, 'Standard', 'Standard', 'Standard', 2.0, 18160.0, None, None, None, None, 'Hatchback', 5.0, '4x2', 128.0, 'Standard', 'Standard', 'HONDA', 'Fit', 2019.0, None, 115.0, None, 'Continuously Variable Transmission (CVT)', 'PASSENGER CAR'), (157401, 21800, 21800, 0, None, 'Standard', None, 2.0, 21700.0, None, None, 'Standard', None, 'Sedan', 4.0, '4x2', 174.0, 'Optional', 'Standard', 'HONDA', 'Civic', 2018.0, None, None, None, 'Continuously Variable Transmission (CVT)', 'PASSENGER CAR'))
2022-07-04 17:39:08,564 INFO sqlalchemy.engine.Engine COMMIT

In [21]:
sqlite_connection.close()

# Convert PostgreSQL to sqlite
#### source: https://www.prudentdevs.club/pg-to-sqlite

In [30]:
engine = create_engine(f'postgresql://postgres:{pg_key}@localhost:5432/cis2018')
connection = engine.connect()

In [31]:
sales_df = pd.read_sql("SELECT * FROM all_sales_view", connection)
sales_df.head()

,id,model_year,make,model,msrp,vehicle_type,milage,axles,base_price,bed_length_inches,...,top_speed_mph,transmission_speeds,transmission_style,cruise_control,auto_reverse_system,pedestrian_alerting_sound,blind_spot_monitor,forward_collision_warning,keyless_ignition,pedestrian_auto_emergency_brake
0,82744,2019.0,HONDA,Fit,17885,PASSENGER CAR,0,NaN,NaN,NaN,...,NaN,NaN,Continuously Variable Transmission (CVT),,,,,,,
1,26575,2019.0,NISSAN,Sentra,20190,PASSENGER CAR,0,NaN,NaN,NaN,...,NaN,NaN,0,,,,,,,
2,47333,2019.0,NISSAN,Titan,51425,TRUCK,0,NaN,NaN,NaN,...,NaN,NaN,0,,,,,,,
3,55794,2019.0,GMC,Sierra,59810,TRUCK,0,NaN,NaN,NaN,...,NaN,NaN,0,,,,,,,
4,110166,2019.0,NISSAN,Frontier,33135,TRUCK,0,NaN,NaN,NaN,...,NaN,NaN,0,,,,,,,

In [32]:
enginesql = create_engine('sqlite:///../Resources/CIS_2018_lite.sqlite', echo=True)
sqlite_connection = enginesql.connect()

In [37]:
sales_df.to_sql('sqlite:///../Resources/CIS_2018_lite.sqlite', sqlite_connection)

2022-07-05 04:51:17,029 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sqlite:///../Resources/CIS_2018_lite.sqlite")
2022-07-05 04:51:17,032 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-05 04:51:17,033 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("sqlite:///../Resources/CIS_2018_lite.sqlite")
2022-07-05 04:51:17,034 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-05 04:51:17,037 INFO sqlalchemy.engine.Engine
CREATE TABLE "sqlite:///../Resources/CIS_2018_lite.sqlite" (
	"index" BIGINT,
	id BIGINT,
	model_year FLOAT,
	make TEXT,
	model TEXT,
	msrp BIGINT,
	vehicle_type TEXT,
	milage BIGINT,
	axles FLOAT,
	base_price FLOAT,
	bed_length_inches FLOAT,
	bed_type TEXT,
	body_cab_type TEXT,
	body_class TEXT,
	doors FLOAT,
	drive_type TEXT,
	engine_hp FLOAT,
	top_speed_mph FLOAT,
	transmission_speeds FLOAT,
	transmission_style TEXT,
	cruise_control TEXT,
	auto_reverse_system TEXT,
	pedestrian_alerting_sound TEXT,
	blind_spot_monitor TEXT,
	forward_collision_warning TEXT,
	keyless_ignition TEXT,
	pedestrian_auto_emergency_brake TEXT
)


2022-07-05 04:51:17,038 INFO sqlalchemy.engine.Engine [no key 0.00060s] ()
2022-07-05 04:51:17,052 INFO sqlalchemy.engine.Engine COMMIT
2022-07-05 04:51:17,053 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_sqlite:///../Resources/CIS_2018_lite.sqlite_index" ON "sqlite:///../Resources/CIS_2018_lite.sqlite" ("index")
2022-07-05 04:51:17,054 INFO sqlalchemy.engine.Engine [no key 0.00082s] ()
2022-07-05 04:51:17,063 INFO sqlalchemy.engine.Engine COMMIT
2022-07-05 04:51:17,367 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-05 04:51:21,061 INFO sqlalchemy.engine.Engine INSERT INTO "sqlite:///../Resources/CIS_2018_lite.sqlite" ("index", id, model_year, make, model, msrp, vehicle_type, milage, axles, base_price, bed_length_inches, bed_type, body_cab_type, body_class, doors, drive_type, engine_hp, top_speed_mph, transmission_speeds, transmission_style, cruise_control, auto_reverse_system, pedestrian_alerting_sound, blind_spot_monitor, forward_collision_warning, keyless_ignition, pedestrian_auto_emergency_brake) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-07-05 04:51:21,062 INFO sqlalchemy.engine.Engine [generated in 3.06754s] ((0, 82744, 2019.0, 'HONDA', 'Fit', 17885, 'PASSENGER CAR', 0, None, None, None, 'Short', '0', 'Hatchback', 5.0, '4x2', 128.0, None, None, 'Continuously Variable Transmission (CVT)', '', '', '', '', '', '', ''), (1, 26575, 2019.0, 'NISSAN', 'Sentra', 20190, 'PASSENGER CAR', 0, None, None, None, 'Short', '0', 'Sedan', 4.0, '4x2', None, None, None, '0', '', '', '', '', '', '', ''), (2, 47333, 2019.0, 'NISSAN', 'Titan', 51425, 'TRUCK', 0, None, None, None, 'Short', 'Crew/ Super Crew/ Crew Max', 'Pickup', None, '0', None, None, None, '0', '', '', '', '', '', '', ''), (3, 55794, 2019.0, 'GMC', 'Sierra', 59810, 'TRUCK', 0, None, None, None, 'Short', 'Crew/ Super Crew/ Crew Max', 'Pickup', 4.0, '4WD/4-Wheel Drive/4x4', None, None, None, '0', '', '', '', '', '', '', ''), (4, 110166, 2019.0, 'NISSAN', 'Frontier', 33135, 'TRUCK', 0, None, None, None, 'Short', 'Crew/ Super Crew/ Crew Max', 'Pickup', None, '4WD/4-Wheel Drive/4x4', None, None, None, '0', '', '', '', '', '', '', ''), (5, 113248, 2018.0, 'HYUNDAI', 'Elantra', 26400, 'PASSENGER CAR', 0, None, None, None, 'Short', '0', 'Sedan', 4.0, '0', 201.0, None, None, '0', '', '', '', '', '', '', ''), (6, 116131, 2019.0, 'NISSAN', 'Kicks', 22300, 'PASSENGER CAR', 0, None, None, None, 'Short', '0', 'Hatchback', 4.0, '4x2', None, None, None, '0', '', '', '', '', '', '', ''), (7, 10434, 2019.0, 'CHEVROLET', 'Impala', 36187, 'PASSENGER CAR', 0, 2.0, 31395.0, None, 'Short', '0', 'Sedan', 4.0, '0', None, None, None, '0', '', 'Standard', '', 'Optional', '', 'Standard', '')  ... displaying 10 of 157402 total bound parameter sets ...  (157400, 124225, 2020.0, 'NISSAN', 'Altima', 31670, 'PASSENGER CAR', 0, None, None, None, 'Short', '0', 'Sedan', 4.0, '4x2', None, None, None, '0', '', '', '', '', '', '', ''), (157401, 124230, 2020.0, 'HYUNDAI', 'Elantra', 21885, 'PASSENGER CAR', 0, 2.0, 18200.0, None, 'Short', '0', 'Sedan', 4.0, 'FWD/Front Wheel Drive', 147.0, None, None, 'Continuously Variable Transmission (CVT)', 'Optional', 'Standard', '', 'Standard', 'Standard', '', ''))
2022-07-05 04:51:22,634 INFO sqlalchemy.engine.Engine COMMIT
2022-07-05 04:51:22,747 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-07-05 04:51:22,748 INFO sqlalchemy.engine.Engine [raw sql] ()