In [1]:
import pandas as pd
from sqlalchemy import create_engine
import sys
import psycopg2
import sqlite3
from config import pg_key

In [ ]:
cis_df = pd.read_csv("../Resources/Data Sources/reduced_auto_df.csv")
cis_df.head(2)

In [ ]:
cis_df.loc[cis_df['Selling_Price'] > cis_df['MSRP']]

In [ ]:
cis_df.loc[cis_df['Selling_Price'] < cis_df['MSRP']]

### Adjust Data Types

In [ ]:
cis_df = cis_df.replace({
    None:0,
    "NA": 0,
    "Optional": 1,
    "Standard": 2
})
cis_df.head(2)
cis_df.dtypes

In [ ]:
# Save back to CSV to continue processing in Postgres.

cis_df.to_csv("../Resources/Data Sources/cis_step_2.csv", index=False)

In [ ]:
sqlite_table = "sales"
cis_df.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

In [ ]:
sqlite_connection.close()

# Convert PostgreSQL to sqlite
#### source: https://www.prudentdevs.club/pg-to-sqlite

In [2]:
engine = create_engine(f'postgresql://postgres:{pg_key}@localhost:5432/cis2018')
connection = engine.connect()

In [3]:
sales_df = pd.read_sql("SELECT * FROM all_sales_view", connection)
sales_df.head()

,id,model_year,make,model,msrp,vehicle_type,milage,axles,base_price,bed_length_inches,...,top_speed_mph,transmission_speeds,transmission_style,cruise_control,auto_reverse_system,pedestrian_alerting_sound,blind_spot_monitor,forward_collision_warning,keyless_ignition,pedestrian_auto_emergency_brake
0,82744,2019.0,HONDA,Fit,17885,PASSENGER CAR,0,NaN,NaN,NaN,...,NaN,NaN,Continuously Variable Transmission (CVT),,,,,,,
1,26575,2019.0,NISSAN,Sentra,20190,PASSENGER CAR,0,NaN,NaN,NaN,...,NaN,NaN,0,,,,,,,
2,47333,2019.0,NISSAN,Titan,51425,TRUCK,0,NaN,NaN,NaN,...,NaN,NaN,0,,,,,,,
3,55794,2019.0,GMC,Sierra,59810,TRUCK,0,NaN,NaN,NaN,...,NaN,NaN,0,,,,,,,
4,10434,2019.0,CHEVROLET,Impala,36187,PASSENGER CAR,0,2.0,31395.0,NaN,...,NaN,NaN,0,,Standard,,Optional,,Standard,

In [4]:
enginesql = create_engine('sqlite:///../Resources/CIS_2018_full.sqlite', echo=True)
sqlite_connection = enginesql.connect()

In [5]:
sales_df.to_sql('sqlite:///../Resources/CIS_2018_full.sqlite', sqlite_connection)

2022-07-09 12:24:18,781 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("sqlite:///../Resources/CIS_2018_full.sqlite")
2022-07-09 12:24:18,784 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-09 12:24:18,785 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("sqlite:///../Resources/CIS_2018_full.sqlite")
2022-07-09 12:24:18,786 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-09 12:24:18,790 INFO sqlalchemy.engine.Engine
CREATE TABLE "sqlite:///../Resources/CIS_2018_full.sqlite" (
	"index" BIGINT,
	id BIGINT,
	model_year FLOAT,
	make TEXT,
	model TEXT,
	msrp BIGINT,
	vehicle_type TEXT,
	milage BIGINT,
	axles FLOAT,
	base_price FLOAT,
	bed_length_inches FLOAT,
	bed_type TEXT,
	body_cab_type TEXT,
	body_class TEXT,
	doors FLOAT,
	drive_type TEXT,
	engine_hp FLOAT,
	top_speed_mph FLOAT,
	transmission_speeds FLOAT,
	transmission_style TEXT,
	cruise_control TEXT,
	auto_reverse_system TEXT,
	pedestrian_alerting_sound TEXT,
	blind_spot_monitor TEXT,
	forward_collision_warning TEXT,
	keyless_ignition TEXT,
	pedestrian_auto_emergency_brake TEXT
)


2022-07-09 12:24:18,790 INFO sqlalchemy.engine.Engine [no key 0.00065s] ()
2022-07-09 12:24:18,804 INFO sqlalchemy.engine.Engine COMMIT
2022-07-09 12:24:18,806 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_sqlite:///../Resources/CIS_2018_full.sqlite_index" ON "sqlite:///../Resources/CIS_2018_full.sqlite" ("index")
2022-07-09 12:24:18,806 INFO sqlalchemy.engine.Engine [no key 0.00054s] ()
2022-07-09 12:24:18,817 INFO sqlalchemy.engine.Engine COMMIT
2022-07-09 12:24:19,139 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-09 12:24:22,833 INFO sqlalchemy.engine.Engine INSERT INTO "sqlite:///../Resources/CIS_2018_full.sqlite" ("index", id, model_year, make, model, msrp, vehicle_type, milage, axles, base_price, bed_length_inches, bed_type, body_cab_type, body_class, doors, drive_type, engine_hp, top_speed_mph, transmission_speeds, transmission_style, cruise_control, auto_reverse_system, pedestrian_alerting_sound, blind_spot_monitor, forward_collision_warning, keyless_ignition, pedestrian_auto_emergency_brake) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-07-09 12:24:22,834 INFO sqlalchemy.engine.Engine [generated in 3.00759s] ((0, 82744, 2019.0, 'HONDA', 'Fit', 17885, 'PASSENGER CAR', 0, None, None, None, 'Short', '0', 'Hatchback', 5.0, '4x2', 128.0, None, None, 'Continuously Variable Transmission (CVT)', '', '', '', '', '', '', ''), (1, 26575, 2019.0, 'NISSAN', 'Sentra', 20190, 'PASSENGER CAR', 0, None, None, None, 'Short', '0', 'Sedan', 4.0, '4x2', None, None, None, '0', '', '', '', '', '', '', ''), (2, 47333, 2019.0, 'NISSAN', 'Titan', 51425, 'TRUCK', 0, None, None, None, 'Short', 'Crew/ Super Crew/ Crew Max', 'Pickup', None, '0', None, None, None, '0', '', '', '', '', '', '', ''), (3, 55794, 2019.0, 'GMC', 'Sierra', 59810, 'TRUCK', 0, None, None, None, 'Short', 'Crew/ Super Crew/ Crew Max', 'Pickup', 4.0, '4WD/4-Wheel Drive/4x4', None, None, None, '0', '', '', '', '', '', '', ''), (4, 10434, 2019.0, 'CHEVROLET', 'Impala', 36187, 'PASSENGER CAR', 0, 2.0, 31395.0, None, 'Short', '0', 'Sedan', 4.0, '0', None, None, None, '0', '', 'Standard', '', 'Optional', '', 'Standard', ''), (5, 14962, 2019.0, 'FORD', 'Ranger', 42715, 'TRUCK', 0, None, None, None, 'Short', 'Crew/ Super Crew/ Crew Max', 'Pickup', None, '4WD/4-Wheel Drive/4x4', None, None, None, '0', '', '', '', '', '', '', ''), (6, 16210, 2019.0, 'NISSAN', 'NV200', 25090, 'TRUCK', 0, None, None, None, 'Short', '0', 'Van', None, '4x2', None, None, None, '0', '', '', '', '', '', '', ''), (7, 76715, 2020.0, 'CHEVROLET', 'Malibu', 0, 'PASSENGER CAR', 0, None, None, None, 'Short', '0', 'Sedan', 4.0, '0', None, None, None, '0', '', '', '', '', '', '', '')  ... displaying 10 of 157402 total bound parameter sets ...  (157400, 111397, 2018.0, 'HONDA', 'Civic', 22235, 'PASSENGER CAR', 0, 2.0, 21340.0, None, 'Short', '0', 'Sedan', 4.0, '4x2', 158.0, None, None, 'Continuously Variable Transmission (CVT)', '', 'Standard', '', 'Standard', 'Optional', 'Standard', ''), (157401, 111410, 2018.0, 'FORD', 'F-150', 35183, 'TRUCK', 0, None, None, None, 'Short', 'Extra/Super/ Quad/Double/King/Extended', 'Pickup', None, '4WD/4-Wheel Drive/4x4', 375.0, None, None, '0', '', '', '', '', '', '', ''))
2022-07-09 12:24:24,400 INFO sqlalchemy.engine.Engine COMMIT
2022-07-09 12:24:24,510 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-07-09 12:24:24,511 INFO sqlalchemy.engine.Engine [raw sql] ()