In [25]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import time 
import random

In [26]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 103.0.5060
[WDM] - Get LATEST chromedriver version for 103.0.5060 google-chrome
[WDM] - Driver [/Users/104rrc/.wdm/drivers/chromedriver/mac64/103.0.5060.53/chromedriver] found in cache

In [27]:
# url_list = ['https://www.cargurus.com/Cars/new/searchresults.action?zip=76012&showNegotiable=true&sortDir=ASC&sourceContext=homePageNewCarTab_false_0&distance=50&sortType=PRICE&entitySelectingHelper.selectedEntity=d320#listing=333784109/NEWCAR_FEATURED',
#            'https://www.cargurus.com/Cars/new/searchresults.action?zip=76012&showNegotiable=true&sortDir=ASC&sourceContext=homePageNewCarTab_false_0&distance=50&sortType=PRICE&entitySelectingHelper.selectedEntity=d320#listing=333784118/NEWCAR_FEATURED',
#            'https://www.cargurus.com/Cars/new/searchresults.action?zip=78704&showNegotiable=true&sortDir=ASC&sourceContext=homePageNewCarTab_false_0&distance=50&sortType=PRICE&entitySelectingHelper.selectedEntity=d2412#listing=333651233/NONE',
#            'https://www.cargurus.com/Cars/new/searchresults.action?zip=76012&showNegotiable=true&sortDir=ASC&sourceContext=homePageNewCarTab_false_0&distance=50&sortType=PRICE&entitySelectingHelper.selectedEntity=d320#listing=333784109/NEWCAR_FEATURED']

url_df = pd.read_csv('../Resources/all_urls_list.csv')
url_list = url_df['urls']
url_list

0       https://www.cargurus.com/Cars/new/searchresult...
1       https://www.cargurus.com/Cars/new/searchresult...
2       https://www.cargurus.com/Cars/new/searchresult...
3       https://www.cargurus.com/Cars/new/searchresult...
4       https://www.cargurus.com/Cars/new/searchresult...
                              ...
2216    https://www.cargurus.com/Cars/new/searchresult...
2217    https://www.cargurus.com/Cars/new/searchresult...
2218    https://www.cargurus.com/Cars/new/searchresult...
2219    https://www.cargurus.com/Cars/new/searchresult...
2220    https://www.cargurus.com/Cars/new/searchresult...
Name: urls, Length: 2221, dtype: object

In [28]:
cars_df = pd.DataFrame({})

In [29]:
browser.visit(url_list[0])

In [30]:
failed_tries = []

In [31]:
start = 1200
end = 1400
# start with just 1 loop
for i in range(start,end):
    browser.visit(url_list[i])
    time.sleep(random.randint(3,6))
    
    # place into try / except block:
    try:
        print(f"Adding {i} of {end}")
        # scrape using find by tag (section).  Should return list.
        keys = browser.find_by_tag('dl').find_by_tag('dt')
        values = browser.find_by_tag('dl').find_by_tag('dd')
        print('.', end='')
        # loop through section list and find the one that has "Dealer's Price"
#         section_list = []
#         for e in elems:
#             section_list.append(e.html)
        # extract section list item into section variable

        # run replaces on tags in section to turn it into table
        

        # put table into single dataframe temp_df (NOT scrape_cars_df)
        temp_df = pd.DataFrame({})
        for j in range(len(keys)):
            if values[j].text == 'Contact the dealer for pricing details':
                values.pop(j)
            temp_df[keys[j].text]= [values[j].text]
        temp_df
        print('.', end='')
        # create search string to find remaining car data
        # search_str = " - " + temp_df["Dealer's Price:"][0]
        # find <h1> tag which contains search_str
        search_str = "IpF2YF"
        title = browser.find_by_tag('h1')
        price = title[0].html.split(' ')[-1]
        model = title[0].html.split(' ')[2]
        
        temp_df['Price:'] = [price]
        temp_df['Model:'] = [model]
        print('.', end='')
        # split element string by space
        # year = e[0]
        # make = e[1]
        # model = e[2]
        dealernames = browser.find_by_tag('a')
        for d in dealernames:
            if d['data-cg-ft'] == 'vdp-dealer-cg-homepage-link':
                dealername = d.text
        temp_df['Dealer Name:'] = [dealername]
        # add columns and data to dataframe (temp_df['year'] = [year])
        print('.', end='')
        
        dealeraddress = browser.find_by_tag('span')
        for d in dealeraddress:
            if d['data-track-ui'] == 'dealer-address':
                dealeradd = d.text
        dealeradd = dealeradd.replace('\n', '<br>')        
        temp_df["Dealer Address:"] = [dealeradd]
        # append new dataframe to scrape_cars_df if successful
        print('.', end='')
        
        cars_df = pd.concat([cars_df, temp_df], axis=0, ignore_index=True)
        print(' Success!')
        
    
    # except: add i into failed list
    except:
        failed_tries.append(i)
        print(' Error found.')
cars_df.to_csv(f'../Resources/{start}-{end}.csv')

Adding 1200 of 1400
..... Success!
Adding 1201 of 1400
 Error found.
Adding 1202 of 1400
 Error found.
Adding 1203 of 1400
..... Success!
Adding 1204 of 1400
..... Success!
Adding 1205 of 1400
..... Success!
Adding 1206 of 1400
..... Success!
Adding 1207 of 1400
..... Success!
Adding 1208 of 1400
..... Success!
Adding 1209 of 1400
 Error found.
Adding 1210 of 1400
 Error found.
Adding 1211 of 1400
..... Success!
Adding 1212 of 1400
 Error found.
Adding 1213 of 1400
..... Success!
Adding 1214 of 1400
 Error found.
Adding 1215 of 1400
..... Success!
Adding 1216 of 1400
..... Success!
Adding 1217 of 1400
..... Success!
Adding 1218 of 1400
..... Success!
Adding 1219 of 1400
..... Success!
Adding 1220 of 1400
 Error found.
Adding 1221 of 1400
..... Success!
Adding 1222 of 1400
..... Success!
Adding 1223 of 1400
..... Success!
Adding 1224 of 1400
..... Success!
Adding 1225 of 1400
..... Success!
Adding 1226 of 1400
..... Success!
Adding 1227 of 1400
 Error found.
Adding 1228 of 1400
..... Success!
Adding 1229 of 1400
..... Success!
Adding 1230 of 1400
..... Success!
Adding 1231 of 1400
..... Success!
Adding 1232 of 1400
..... Success!
Adding 1233 of 1400
..... Success!
Adding 1234 of 1400
..... Success!
Adding 1235 of 1400
..... Success!
Adding 1236 of 1400
..... Success!
Adding 1237 of 1400
..... Success!
Adding 1238 of 1400
..... Success!
Adding 1239 of 1400
..... Success!
Adding 1240 of 1400
..... Success!
Adding 1241 of 1400
..... Success!
Adding 1242 of 1400
..... Success!
Adding 1243 of 1400
..... Success!
Adding 1244 of 1400
..... Success!
Adding 1245 of 1400
..... Success!
Adding 1246 of 1400
..... Success!
Adding 1247 of 1400
..... Success!
Adding 1248 of 1400
 Error found.
Adding 1249 of 1400
..... Success!
Adding 1250 of 1400
..... Success!
Adding 1251 of 1400
..... Success!
Adding 1252 of 1400
..... Success!
Adding 1253 of 1400
..... Success!
Adding 1254 of 1400
 Error found.
Adding 1255 of 1400
..... Success!
Adding 1256 of 1400
..... Success!
Adding 1257 of 1400
 Error found.
Adding 1258 of 1400
..... Success!
Adding 1259 of 1400
..... Success!
Adding 1260 of 1400
..... Success!
Adding 1261 of 1400
..... Success!
Adding 1262 of 1400
..... Success!
Adding 1263 of 1400
..... Success!
Adding 1264 of 1400
..... Success!
Adding 1265 of 1400
..... Success!
Adding 1266 of 1400
..... Success!
Adding 1267 of 1400
..... Success!
Adding 1268 of 1400
..... Success!
Adding 1269 of 1400
..... Success!
Adding 1270 of 1400
..... Success!
Adding 1271 of 1400
 Error found.
Adding 1272 of 1400
..... Success!
Adding 1273 of 1400
 Error found.
Adding 1274 of 1400
..... Success!
Adding 1275 of 1400
..... Success!
Adding 1276 of 1400
..... Success!
Adding 1277 of 1400
..... Success!
Adding 1278 of 1400
..... Success!
Adding 1279 of 1400
..... Success!
Adding 1280 of 1400
..... Success!
Adding 1281 of 1400
..... Success!
Adding 1282 of 1400
..... Success!
Adding 1283 of 1400
..... Success!
Adding 1284 of 1400
..... Success!
Adding 1285 of 1400
..... Success!
Adding 1286 of 1400
 Error found.
Adding 1287 of 1400
 Error found.
Adding 1288 of 1400
..... Success!
Adding 1289 of 1400
..... Success!
Adding 1290 of 1400
..... Success!
Adding 1291 of 1400
..... Success!
Adding 1292 of 1400
..... Success!
Adding 1293 of 1400
..... Success!
Adding 1294 of 1400
..... Success!
Adding 1295 of 1400
..... Success!
Adding 1296 of 1400
..... Success!
Adding 1297 of 1400
..... Success!
Adding 1298 of 1400
..... Success!
Adding 1299 of 1400
..... Success!
Adding 1300 of 1400
..... Success!
Adding 1301 of 1400
..... Success!
Adding 1302 of 1400
..... Success!
Adding 1303 of 1400
..... Success!
Adding 1304 of 1400
 Error found.
Adding 1305 of 1400
..... Success!
Adding 1306 of 1400
..... Success!
Adding 1307 of 1400
..... Success!
Adding 1308 of 1400
 Error found.
Adding 1309 of 1400
..... Success!
Adding 1310 of 1400
..... Success!
Adding 1311 of 1400
 Error found.
Adding 1312 of 1400
..... Success!
Adding 1313 of 1400
..... Success!
Adding 1314 of 1400
..... Success!
Adding 1315 of 1400
..... Success!
Adding 1316 of 1400
..... Success!
Adding 1317 of 1400
 Error found.
Adding 1318 of 1400
..... Success!
Adding 1319 of 1400
..... Success!
Adding 1320 of 1400
..... Success!
Adding 1321 of 1400
..... Success!
Adding 1322 of 1400
..... Success!
Adding 1323 of 1400
 Error found.
Adding 1324 of 1400
..... Success!
Adding 1325 of 1400
..... Success!
Adding 1326 of 1400
..... Success!
Adding 1327 of 1400
..... Success!
Adding 1328 of 1400
 Error found.
Adding 1329 of 1400
..... Success!
Adding 1330 of 1400
..... Success!
Adding 1331 of 1400
..... Success!
Adding 1332 of 1400
 Error found.
Adding 1333 of 1400
..... Success!
Adding 1334 of 1400
..... Success!
Adding 1335 of 1400
..... Success!
Adding 1336 of 1400
..... Success!
Adding 1337 of 1400
..... Success!
Adding 1338 of 1400
..... Success!
Adding 1339 of 1400
..... Success!
Adding 1340 of 1400
..... Success!
Adding 1341 of 1400
..... Success!
Adding 1342 of 1400
..... Success!
Adding 1343 of 1400
..... Success!
Adding 1344 of 1400
..... Success!
Adding 1345 of 1400
..... Success!
Adding 1346 of 1400
 Error found.
Adding 1347 of 1400
..... Success!
Adding 1348 of 1400
 Error found.
Adding 1349 of 1400
 Error found.
Adding 1350 of 1400
..... Success!
Adding 1351 of 1400
..... Success!
Adding 1352 of 1400
..... Success!
Adding 1353 of 1400
..... Success!
Adding 1354 of 1400
..... Success!
Adding 1355 of 1400
..... Success!
Adding 1356 of 1400
..... Success!
Adding 1357 of 1400
..... Success!
Adding 1358 of 1400
..... Success!
Adding 1359 of 1400
..... Success!
Adding 1360 of 1400
..... Success!
Adding 1361 of 1400
..... Success!
Adding 1362 of 1400
..... Success!
Adding 1363 of 1400
..... Success!
Adding 1364 of 1400
..... Success!
Adding 1365 of 1400
..... Success!
Adding 1366 of 1400
..... Success!
Adding 1367 of 1400
..... Success!
Adding 1368 of 1400
 Error found.
Adding 1369 of 1400
..... Success!
Adding 1370 of 1400
..... Success!
Adding 1371 of 1400
..... Success!
Adding 1372 of 1400
..... Success!
Adding 1373 of 1400
..... Success!
Adding 1374 of 1400
..... Success!
Adding 1375 of 1400
..... Success!
Adding 1376 of 1400
..... Success!
Adding 1377 of 1400
..... Success!
Adding 1378 of 1400
..... Success!
Adding 1379 of 1400
..... Success!
Adding 1380 of 1400
..... Success!
Adding 1381 of 1400
..... Success!
Adding 1382 of 1400
..... Success!
Adding 1383 of 1400
..... Success!
Adding 1384 of 1400
..... Success!
Adding 1385 of 1400
 Error found.
Adding 1386 of 1400
 Error found.
Adding 1387 of 1400
..... Success!
Adding 1388 of 1400
..... Success!
Adding 1389 of 1400
..... Success!
Adding 1390 of 1400
..... Success!
Adding 1391 of 1400
 Error found.
Adding 1392 of 1400
..... Success!
Adding 1393 of 1400
..... Success!
Adding 1394 of 1400
 Error found.
Adding 1395 of 1400
..... Success!
Adding 1396 of 1400
..... Success!
Adding 1397 of 1400
..... Success!
Adding 1398 of 1400
..... Success!
Adding 1399 of 1400
..... Success!

In [32]:
dealeraddress = browser.find_by_tag('span')
for d in dealeraddress:
    if d['data-track-ui'] == 'dealer-address':
        dealeradd = d.text
dealeradd = dealeradd.replace('\n', '<br>')  
dealeradd
#         temp_df["Dealer Address:"] = [dealeradd]

'3777 Gerstner Memorial Blvd<br>Lake Charles, LA 70607'

In [33]:
keys = browser.find_by_tag('dl').find_by_tag('dt')
values = browser.find_by_tag('dl').find_by_tag('dd')
temp_df = pd.DataFrame({})


for j in range(len(keys)):
    if values[j].text == 'Contact the dealer for pricing details':
        values.pop(j)
    temp_df[keys[j].text]= [values[j].text]
temp_df

# values[2].text

,Make:,Model:,Year:,Trim:,Body type:,Exterior color:,Interior color:,VIN:,Stock number:
0,Jeep,Wrangler Unlimited 4xe,2022,Rubicon 4WD,SUV / crossover,Silver Zynith Clearcoat,Black,1C4JJXR62NW191894,NW191894

In [34]:
cars_df

,Make:,Model:,Year:,Trim:,Body type:,Exterior color:,Interior color:,Mileage:,VIN:,Stock number:,Price:,Dealer Name:,Dealer Address:
0,Jeep,Wrangler,2022,Sport 4WD,SUV / crossover,Brown (Limited Edition Gobi Clearcoat),Black,0 mi,1C4HJXDN6NW243959,W243959,"$40,359",San Antonio Dodge Chrysler Jeep Ram,"11910 N Ih 35<br>San Antonio, TX 78233"
1,Jeep,Wrangler,2022,Willys 4WD,SUV / crossover,Bright White,Black,0 mi,1C4HJXDNXNW253569,253569,"$42,125",Mac Haik Chrysler Dodge Jeep RAM Energy Corridor,"12111 Katy Fwy<br>Houston, TX 77079"
2,Jeep,Wrangler,2022,Sport Altitude 4WD,SUV / crossover,Gray,Black,0 mi,1C4HJXDN8NW242280,53885325,"$43,379",Frisco Chrysler Dodge Jeep Ram,"9640 State Highway 121<br>Frisco, TX 75035"
3,Jeep,Wrangler,2022,Sport Altitude 4WD,SUV / crossover,Black,Black,0 mi,1C4HJXDG9NW226056,53885323,"$43,879",Frisco Chrysler Dodge Jeep Ram,"9640 State Highway 121<br>Frisco, TX 75035"
4,Jeep,Wrangler,2022,Sport S 4WD,SUV / crossover,Sting-Gray Clearcoat,Black,7 mi,1C4HJXDG8NW241924,J18093,"$44,575",Covert Chrysler Dodge Jeep Ram-Austin,"8107 Research Blvd<br>Austin, TX 78758"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Jeep,Wrangler,2022,Rubicon 4WD,SUV / crossover,Sting-Gray Clearcoat,Black,NaN,1C4JJXR66NW233340,NW233340,"$67,114",Mark Dodge,"3777 Gerstner Memorial Blvd<br>Lake Charles, L..."
166,Jeep,Wrangler,2022,Rubicon 4WD,SUV / crossover,Sting-Gray Clearcoat,Black,NaN,1C4JJXR62NW259840,NW259840,"$67,137",Mark Dodge,"3777 Gerstner Memorial Blvd<br>Lake Charles, L..."
167,Jeep,Wrangler,2022,Rubicon 4WD,SUV / crossover,Bright White Clearcoat,Black,NaN,1C4JJXR65NW183000,NW183000,"$67,209",Mark Dodge,"3777 Gerstner Memorial Blvd<br>Lake Charles, L..."
168,Jeep,Wrangler,2022,Sahara 4WD,SUV / crossover,Bright White Clearcoat,Black,10 mi,1C4JJXP61NW121418,NW121418,"$67,245",Nyle Maxwell CDJR Austin,"13817 U.S. 183<br>Austin, TX 78750"
169,Jeep,Wrangler,2022,Rubicon 4WD,SUV / crossover,Silver Zynith Clearcoat,Black,NaN,1C4JJXR62NW191894,NW191894,"$67,329",Mark Dodge,"3777 Gerstner Memorial Blvd<br>Lake Charles, L..."

In [35]:
len(failed_tries)

30

In [36]:
search_str = "IpF2YF"
title = browser.find_by_tag('h1')
title[0].html.split(' ')[-1]

'$67,329'