In [2]:
import pandas as pd
import glob
import os

In [3]:
csv_file = '../Resources/0-200.csv'
car_data1 = pd.read_csv(csv_file)
car_data1.head()

,Unnamed: 0,Make:,Model:,Year:,Body type:,Exterior color:,Interior color:,Mileage:,VIN:,Stock number:,Price:,Dealer Name:,Dealer Address:,Trim:
0,0,Ford,Bronco,2022,SUV / crossover,Race Red,Red (Pv),15 mi,1FMDE5CP9NLB31549,221306,"$51,895",SouthWest Ford,"3000 Fort Worth Hwy Weatherford, TX 76087",NaN
1,1,Ford,Bronco,2022,SUV / crossover,CACTUS GRAY,STONE/BLACK,0 mi,1FMEE5DP8NLB35076,F11676,"$32,219",DeMontrond Ford,"3944 US 59 S Cleveland, TX 77328",NaN
2,2,Ford,Bronco,2022,SUV / crossover,Blue (Area 51),CLOTH SANDSTONE/BLK SEATS BLACK ONYX INTERIOR,0 mi,1FMDE5AH3NLB11244,NLB11244,"$37,800",Westway Ford,"801 W. Airport Fwy. Irving, TX 75062",Big Bend 2-Door 4WD
3,3,Ford,Bronco,2022,SUV / crossover,Blue (AREA 51),GRAY/BLACK,0 mi,1FMDE5BH9NLB12171,F11583,"$40,669",DeMontrond Ford,"3944 US 59 S Cleveland, TX 77328",NaN
4,4,Ford,Bronco,2022,SUV / crossover,HOT Pepper Red MET Tint,Dark Space Gray,0 mi,1FMDE5BH2NLA84536,NLA84536,"$41,905",Grand Prairie Ford,"701 E. Palace Parkway Grand Prairie, TX 75050",Big Bend 4-Door 4WD

In [5]:
len(car_data1)

158

In [6]:
csv_file = '../Resources/200-400.csv'
car_data2 = pd.read_csv(csv_file)
car_data2.head()

,Unnamed: 0,Make:,Model:,Year:,Trim:,Body type:,Exterior color:,Interior color:,Mileage:,VIN:,Stock number:,Price:,Dealer Name:,Dealer Address:
0,0,Jeep,Wrangler,2022,Sport 4WD,SUV / crossover,Black Clearcoat,Black,2 mi,1C4GJXAN8NW223826,223826,"$41,305",Freestone Autoplex,"1201 Hwy 84 West Fairfield, TX 75840"
1,1,Jeep,Wrangler,2022,Sport 4WD,SUV / crossover,Firecracker Red Clearcoat,Black,2 mi,1C4GJXAN1NW223828,223828,"$41,442",Freestone Autoplex,"1201 Hwy 84 West Fairfield, TX 75840"
2,2,Jeep,Wrangler,2022,Willys 4WD,SUV / crossover,Bright White,Black,0 mi,1C4GJXAN2NW186076,186076,"$42,065",Richardson Chrysler Jeep Dodge Ram,"1321 N Central Expy Richardson, TX 75080"
3,3,Jeep,Wrangler,2022,Willys 4WD,SUV / crossover,Sarge Green Clearcoat,Black,4 mi,1C4GJXAG3NW268061,268061,"$42,555",Moritz Chrysler Jeep Dodge,"9101 Camp Bowie West Fort Worth, TX 76116"
4,4,Jeep,Wrangler,2022,Willys 4WD,SUV / crossover,Sting-Gray,Black,0 mi,1C4GJXAN4NW186077,186077,"$42,560",Richardson Chrysler Jeep Dodge Ram,"1321 N Central Expy Richardson, TX 75080"

In [7]:
len(car_data2)

187

In [8]:
csv_file = '../Resources/400-600.csv'
car_data3 = pd.read_csv(csv_file)
car_data3.head()

,Unnamed: 0,Make:,Model:,Year:,Trim:,Body type:,Exterior color:,Interior color:,Mileage:,VIN:,Stock number:,Price:,Dealer Name:,Dealer Address:
0,0,Jeep,Wrangler,2022,Sahara 4WD,SUV / crossover,Bright White Clearcoat,Black,4 mi,1C4HJXEGXNW236822,R220355,"$56,305",Pegasus CDJR,"305 South Interstate Highway 45 Ennis, TX 75119"
1,1,Jeep,Wrangler,2022,Sahara Altitude 4WD,SUV / crossover,Gray,Black,4 mi,1C4HJXEN0NW208154,NW208154,"$56,575",Frisco Chrysler Dodge Jeep Ram,"9640 State Highway 121 Frisco, TX 75035"
2,2,Jeep,Wrangler,2022,Sport S 4WD,SUV / crossover,Sarge Green Clearcoat,Black,1 mi,1C4HJXDGXNW176400,NW176400,"$56,625",Clay Cooley Chrysler Dodge Jeep,"1261 E Airport Fwy Irving, TX 75062"
3,3,Jeep,Wrangler,2022,NaN,SUV / crossover,Bright White Clearcoat,Black,NaN,1C4HJXDG5NW260009,NW260009,"$56,690",Classic Chrysler Dodge Jeep Ram Fiat,"1111 E Interstate 20 Arlington, TX 76018"
4,4,Jeep,Wrangler,2022,NaN,SUV / crossover,Hydro Blue Pearl Coat,Black,12 mi,1C4HJXDG2NW254538,NW254538,"$56,960",Clay Cooley Chrysler Dodge Jeep,"1261 E Airport Fwy Irving, TX 75062"

In [9]:
len(car_data3)

182

In [10]:
csv_file = '../Resources/600-800.csv'
car_data4 = pd.read_csv(csv_file)
car_data4.head()

,Unnamed: 0,Dealer's Price:,Delivery:,Price + Delivery:,MSRP:,Location:,Mileage:,Transmission:,Exterior Color:,Interior Color:,...,Fuel Type:,VIN:,Stock #:,Condition:,Price:,Model:,Dealer Name:,Dealer Address:,Cabin Size:,NHTSA Overall Safety Rating:
0,0,"$67,935",$283,"$68,218","$67,935","Lamesa, TX\n279 mi away",15 miles,8-Speed Automatic,Bright White Clearcoat,Black,...,Gasoline,1C4JJXR61NW152861,NW152861,New,"$68,218",Wrangler,Premier CDJR of Lamesa,"1611 Lubbock Hwy Lamesa, TX 79331",NaN,NaN
1,1,"$69,920",NaN,NaN,"$69,920","Prosper, TX\n35 mi away",---,8-Speed Automatic,Sting-Gray Clearcoat,Black,...,Gasoline,1C4JJXR64NW108322,NW108322,New,"$69,920",Wrangler,Shottenkirk Prosper Chrysler Dodge Jeep Ram,"2550 W University Dr Prosper, TX 75078",NaN,NaN
2,2,"$68,090",$448,"$68,539","$70,225","Lake Charles, LA\n294 mi away",---,8-Speed Automatic,Sting-Gray Clearcoat,Black,...,Gasoline,1C4JJXR66NW214819,NW214819,New,"$68,539",Wrangler,Mark Dodge,"3777 Gerstner Memorial Blvd Lake Charles, LA 7...",NaN,NaN
3,3,"$68,700",NaN,NaN,"$68,700","Ennis, TX\n43 mi away",3 miles,8-Speed Automatic,Black Clearcoat,Black,...,Gasoline,1C4JJXR6XNW108101,R220239,New,"$68,700",Wrangler,Pegasus CDJR,"305 South Interstate Highway 45 Ennis, TX 75119",NaN,NaN
4,4,"$68,287",$448,"$68,736","$70,445","Lake Charles, LA\n294 mi away",---,8-Speed Automatic,Sarge Green Clearcoat,Black,...,Gasoline,1C4JJXR6XNW239562,NW239562,New,"$68,736",Wrangler,Mark Dodge,"3777 Gerstner Memorial Blvd Lake Charles, LA 7...",NaN,NaN

In [11]:
len(car_data4)

140

In [12]:
csv_file = '../Resources/800-1000.csv'
car_data5 = pd.read_csv(csv_file)
car_data5.head()

,Unnamed: 0,Dealer's Price:,Delivery:,Price + Delivery:,MSRP:,Location:,Mileage:,Transmission:,Exterior Color:,Interior Color:,...,Fuel Type:,VIN:,Stock #:,Condition:,Price:,Model:,Dealer Name:,Dealer Address:,Battery Performance:,Cabin Size:
0,0,"$39,615",Free,"$39,615","$42,715","Houston, TX\n172 mi away",0 miles,8-Speed Automatic,Brown (Limited Edition Gobi),Black,...,Gasoline,1C4HJXDN1NW243593,243593,New,"$39,615",Wrangler,Mac Haik Chrysler Dodge Jeep RAM Energy Corridor,"12111 Katy Fwy Houston, TX 77079",NaN,NaN
1,1,"$39,665",Free,"$39,665","$42,765","Houston, TX\n172 mi away",0 miles,8-Speed Automatic,Sarge Green,Black,...,Gasoline,1C4HJXDNXNW252227,252227,New,"$39,665",Wrangler,Mac Haik Chrysler Dodge Jeep RAM Energy Corridor,"12111 Katy Fwy Houston, TX 77079",NaN,NaN
2,2,"$41,609",Free,"$41,609","$42,765","Houston, TX\n172 mi away",1 miles,8-Speed Automatic,Sarge Green,Brown (Heritage Tan/Black),...,Gasoline,1C4HJXDN3NW252232,NW252232,New,"$41,609",Wrangler,Mac Haik Chrysler Dodge Jeep RAM Energy Corridor,"12111 Katy Fwy Houston, TX 77079",NaN,NaN
3,3,"$39,885",Free,"$39,885","$42,985","Houston, TX\n172 mi away",0 miles,8-Speed Automatic,Black,Brown (Heritage Tan/Black),...,Gasoline,1C4HJXDG1NW240629,240629,New,"$39,885",Wrangler,Mac Haik Chrysler Dodge Jeep RAM Energy Corridor,"12111 Katy Fwy Houston, TX 77079",NaN,NaN
4,4,"$39,965",Free,"$39,965","$43,065","Houston, TX\n172 mi away",0 miles,8-Speed Automatic,Sarge Green,Black,...,Gasoline,1C4HJXDN5NW243595,243595,New,"$39,965",Wrangler,Mac Haik Chrysler Dodge Jeep RAM Energy Corridor,"12111 Katy Fwy Houston, TX 77079",NaN,NaN

In [13]:
len(car_data5)

167

In [14]:
csv_file = '../Resources/1000-1200.csv'
car_data6 = pd.read_csv(csv_file)
car_data6.head()

,Unnamed: 0,Dealer's Price:,MSRP:,Location:,Mileage:,Transmission:,Exterior Color:,Interior Color:,Est. Gas Mileage*:,Engine:,...,Stock #:,Condition:,Price:,Model:,Dealer Name:,Dealer Address:,Delivery:,Price + Delivery:,Battery Performance:,NHTSA Overall Safety Rating:
0,0,"$50,453",Not Provided,"Boerne, TX\n25 mi away",---,Automatic,Gray,Black (Blk Fabric),17 MPG City\n23 MPG Highway\n19 MPG Combined,389 hp 3.5L V6,...,22313,New,"$50,453",Tundra,Toyota of Boerne,"31205 I-10 W<br>Boerne, TX 78006",NaN,NaN,NaN,NaN
1,1,"$54,796","$54,796","San Antonio, TX\n8 mi away",0 miles,Automatic,Black,NaN,18 MPG City\n24 MPG Highway\n20 MPG Combined,389 hp 3.5L V6,...,36515,New,"$54,796",Tundra,Alamo Toyota,"18019 US 281 North<br>San Antonio, TX 78232",NaN,NaN,NaN,NaN
2,2,"$55,317","$55,317","San Antonio, TX\n10 mi away",10 miles,Automatic,Magnetic Gray,Gray (GRAPHITE),17 MPG City\n23 MPG Highway\n19 MPG Combined,389 hp 3.5L V6,...,NX040445,New,"$55,317",Tundra,North Park Toyota of San Antonio,"10703 S.W. Loop 410<br>San Antonio, TX 78211",NaN,NaN,NaN,NaN
3,3,"$58,469","$58,469","San Antonio, TX\n8 mi away",0 miles,Automatic,Blue,NaN,18 MPG City\n24 MPG Highway\n20 MPG Combined,437 hp 3.5L V6 Hybrid,...,36604,New,"$58,469",Tundra,Alamo Toyota,"18019 US 281 North<br>San Antonio, TX 78232",NaN,NaN,NaN,NaN
4,4,"$58,640","$58,640","Laredo, TX\n145 mi away",0 miles,Automatic,Silver (MIDNIGHT-BLACK METALLIC),NaN,18 MPG City\n24 MPG Highway\n20 MPG Combined,437 hp 3.5L V6 Hybrid,...,T220016,New,"$58,859",Tundra,Toyota of Laredo,"6324 Bob Bullock Loop<br>Laredo, TX 78041",$219,"$58,859",NaN,NaN

In [15]:
len(car_data6)

145

In [16]:
csv_file = '../Resources/1200-1400.csv'
car_data7 = pd.read_csv(csv_file)
car_data7.head()

,Unnamed: 0,Make:,Model:,Year:,Trim:,Body type:,Exterior color:,Interior color:,Mileage:,VIN:,Stock number:,Price:,Dealer Name:,Dealer Address:
0,0,Jeep,Wrangler,2022,Sport 4WD,SUV / crossover,Brown (Limited Edition Gobi Clearcoat),Black,0 mi,1C4HJXDN6NW243959,W243959,"$40,359",San Antonio Dodge Chrysler Jeep Ram,"11910 N Ih 35<br>San Antonio, TX 78233"
1,1,Jeep,Wrangler,2022,Willys 4WD,SUV / crossover,Bright White,Black,0 mi,1C4HJXDNXNW253569,253569,"$42,125",Mac Haik Chrysler Dodge Jeep RAM Energy Corridor,"12111 Katy Fwy<br>Houston, TX 77079"
2,2,Jeep,Wrangler,2022,Sport Altitude 4WD,SUV / crossover,Gray,Black,0 mi,1C4HJXDN8NW242280,53885325,"$43,379",Frisco Chrysler Dodge Jeep Ram,"9640 State Highway 121<br>Frisco, TX 75035"
3,3,Jeep,Wrangler,2022,Sport Altitude 4WD,SUV / crossover,Black,Black,0 mi,1C4HJXDG9NW226056,53885323,"$43,879",Frisco Chrysler Dodge Jeep Ram,"9640 State Highway 121<br>Frisco, TX 75035"
4,4,Jeep,Wrangler,2022,Sport S 4WD,SUV / crossover,Sting-Gray Clearcoat,Black,7 mi,1C4HJXDG8NW241924,J18093,"$44,575",Covert Chrysler Dodge Jeep Ram-Austin,"8107 Research Blvd<br>Austin, TX 78758"

In [17]:
len(car_data7)

170

In [18]:
csv_file = '../Resources/1400-1600.csv'
car_data8 = pd.read_csv(csv_file)
car_data8.head()

,Unnamed: 0,Make:,Model:,Year:,Trim:,Body type:,Exterior color:,Interior color:,Mileage:,VIN:,Stock number:,Price:,Dealer Name:,Dealer Address:
0,0,Jeep,Wrangler,2022,Rubicon 4WD,SUV / crossover,Bright White Clearcoat,Black,15 mi,1C4JJXR61NW152861,NW152861,"$68,237",Premier CDJR of Lamesa,"1611 Lubbock Hwy Lamesa, TX 79331"
1,1,Jeep,Wrangler,2022,Rubicon 4WD,SUV / crossover,Sting-Gray Clearcoat,Black,NaN,1C4JJXR66NW214819,NW214819,"$68,501",Mark Dodge,"3777 Gerstner Memorial Blvd Lake Charles, LA 7..."
2,2,Jeep,Wrangler,2022,Rubicon 4WD,SUV / crossover,Sarge Green Clearcoat,Black,NaN,1C4JJXR6XNW239562,NW239562,"$68,698",Mark Dodge,"3777 Gerstner Memorial Blvd Lake Charles, LA 7..."
3,3,Jeep,Wrangler,2022,Rubicon 4WD,SUV / crossover,Black Clearcoat,Black,NaN,1C4JJXR6XNW245653,NW245653,"$68,856",Mark Dodge,"3777 Gerstner Memorial Blvd Lake Charles, LA 7..."
4,4,Jeep,Wrangler,2022,Rubicon 4WD,SUV / crossover,Firecracker Red Clearcoat,Black,0 mi,1C4JJXR62NW222268,W222268,"$69,884",San Antonio Dodge Chrysler Jeep Ram,"11910 N Ih 35 San Antonio, TX 78233"

In [19]:
len(car_data8)

175

In [20]:
csv_file = '../Resources/1600-1800.csv'
car_data9 = pd.read_csv(csv_file)
car_data9.head()

,Unnamed: 0,Make:,Model:,Year:,Trim:,Body type:,Exterior color:,Interior color:,Mileage:,VIN:,Stock number:,Price:,Dealer Name:,Dealer Address:
0,0,Ford,Bronco,2022,Outer Banks 4-Door 4WD,SUV / crossover,Hot Pepper Red Metallic Tinted Clearcoat,Roast w/Black Onyx,15 mi,1FMEE5BP1NLB31602,NLB31602,4WD,AutoNation Ford Katy,"20777 Katy Fwy<br>Katy, TX 77450"
1,1,Ford,Maverick,2022,NaN,Coupe,Gray (Cactus Grey),Black Onyx/Dark Slate,0 mi,3FTTW8E99NRA83386,NW8E7149*O,"$23,170",Planet Ford,"20403 I-45 North<br>Spring, TX 77388"
2,2,Ford,Maverick,2022,NaN,Coupe,Velocity Blue Metallic,Desert Brown,0 mi,3FTTW8F98NRA83751,NW8F7207*O,"$36,970",Planet Ford,"20403 I-45 North<br>Spring, TX 77388"
3,3,Ford,Maverick,2022,NaN,Coupe,Alto Blue Tinted Clearcoat Metallic,Blue (Navy Pier/Medium Slate),0 mi,3FTTW8E35NRA84790,NW8E6310*O,"$25,095",Planet Ford,"20403 I-45 North<br>Spring, TX 77388"
4,4,Ford,Maverick,2022,NaN,Coupe,Gray (Cactus Grey),Black Onyx/Dark Slate,0 mi,3FTTW8E32NRA74007,NW8E2067*O,"$21,590",Planet Ford,"20403 I-45 North<br>Spring, TX 77388"

In [21]:
len(car_data9)

167

In [29]:
csv_file = '../Resources/1800-2000.csv'
car_data10 = pd.read_csv(csv_file)
car_data10.head()

,Unnamed: 0,Make:,Model:,Year:,Trim:,Body type:,Exterior color:,Interior color:,Mileage:,VIN:,Stock number:,Price:,Dealer Name:,Dealer Address:
0,0,Jeep,Wrangler,2022,Sport S 4WD,SUV / crossover,Gray (Granite Crystal Metallic Clearcoat),Black,5 mi,1C4HJXDN8NW204340,NW204340,"$44,030",Southfork Chrysler Dodge Jeep Ram,"17725 South Fwy Manvel, TX 77578"
1,1,Jeep,Wrangler,2022,Sport Altitude 4WD,SUV / crossover,Black Clearcoat,Black,0 mi,1C4HJXDN6NW211996,NW211996,"$44,325",River Oaks Chrysler Jeep Dodge Ram,"4807 Kirby Drive Houston, TX 77098"
2,2,Jeep,Wrangler,2022,Sport S 4WD,SUV / crossover,Bright White Clearcoat,Black,20 mi,1C4HJXDGXNW180141,52081768,"$44,530",Momentum Chrysler Dodge Jeep Ram,"3704 NE I 10 Frontage Rd Sealy, TX 77474"
3,3,Jeep,Wrangler,2022,Sport Altitude 4WD,SUV / crossover,Firecracker Red Clearcoat,Black,0 mi,1C4HJXDNXNW190912,NW190912,"$44,670",River Oaks Chrysler Jeep Dodge Ram,"4807 Kirby Drive Houston, TX 77098"
4,4,Jeep,Wrangler,2022,Willys 4WD,SUV / crossover,Bright White Clearcoat,Black,0 mi,1C4HJXDG6NW257619,NW257619,"$44,680",River Oaks Chrysler Jeep Dodge Ram,"4807 Kirby Drive Houston, TX 77098"

In [30]:
len(car_data10)

179

In [32]:
csv_file = '../Resources/2000-2221.csv'
car_data11 = pd.read_csv(csv_file)
car_data11.head()

,Unnamed: 0,Dealer's Price:,MSRP:,Location:,Mileage:,Transmission:,Exterior Color:,Interior Color:,Est. Gas Mileage*:,Battery Performance:,...,VIN:,Stock #:,Condition:,Price:,Model:,Dealer Name:,Dealer Address:,Delivery:,Price + Delivery:,Cabin Size:
0,0,"$54,880","$58,280","Houston, TX\n18 mi away",0 miles,8-Speed Automatic,Sting-Gray,Black,20 MPG City\n20 MPG Highway\n20 MPG Combined,"2.4 hr charge time, 21 mi range",...,1C4JJXP64NW275797,275797,New,"$54,880",Wrangler,Mac Haik Chrysler Dodge Jeep RAM Energy Corridor,"12111 Katy Fwy<br>Houston, TX 77079",NaN,NaN,NaN
1,1,"$54,880","$58,280","Houston, TX\n18 mi away",0 miles,8-Speed Automatic,Sting-Gray,Black,20 MPG City\n20 MPG Highway\n20 MPG Combined,"2.4 hr charge time, 21 mi range",...,1C4JJXP64NW275797,275797,New,"$54,880",Wrangler,Mac Haik Chrysler Dodge Jeep RAM Energy Corridor,"12111 Katy Fwy<br>Houston, TX 77079",NaN,NaN,NaN
2,2,"$54,887","$56,980","Lake Charles, LA\n134 mi away",---,8-Speed Automatic,Bright White Clearcoat,Dark Saddle/Black,20 MPG City\n20 MPG Highway\n20 MPG Combined,"2.4 hr charge time, 21 mi range",...,1C4JJXP68NW260722,NW260722,New,"$55,084",Wrangler,Mark Dodge,"3777 Gerstner Memorial Blvd<br>Lake Charles, L...",$196,"$55,084",NaN
3,3,"$54,973","$57,075","Lake Charles, LA\n134 mi away",---,8-Speed Automatic,Hydro Blue Pearl Coat,Black,20 MPG City\n20 MPG Highway\n20 MPG Combined,"2.4 hr charge time, 21 mi range",...,1C4JJXP65NW239486,NW239486,New,"$55,170",Wrangler,Mark Dodge,"3777 Gerstner Memorial Blvd<br>Lake Charles, L...",$196,"$55,170",NaN
4,4,"$54,981","$57,085","Lake Charles, LA\n134 mi away",---,8-Speed Automatic,Bright White Clearcoat,Black,20 MPG City\n20 MPG Highway\n20 MPG Combined,"2.4 hr charge time, 21 mi range",...,1C4JJXP69NW271678,NW271678,New,"$55,178",Wrangler,Mark Dodge,"3777 Gerstner Memorial Blvd<br>Lake Charles, L...",$196,"$55,178",NaN

In [33]:
len(car_data11)

176

In [36]:
all_scraping_data = pd.concat([car_data1, car_data2, car_data3, car_data4, 
                          car_data5, car_data6, car_data7, car_data8,
                         car_data9, car_data10, car_data11])
all_scraping_data

,Unnamed: 0,Make:,Model:,Year:,Body type:,Exterior color:,Interior color:,Mileage:,VIN:,Stock number:,...,Interior Color:,Est. Gas Mileage*:,Battery Performance:,Engine:,Drivetrain:,Fuel Type:,Stock #:,Condition:,Cabin Size:,NHTSA Overall Safety Rating:
0,0,Ford,Bronco,2022.0,SUV / crossover,Race Red,Red (Pv),15 mi,1FMDE5CP9NLB31549,221306,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Ford,Bronco,2022.0,SUV / crossover,CACTUS GRAY,STONE/BLACK,0 mi,1FMEE5DP8NLB35076,F11676,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Ford,Bronco,2022.0,SUV / crossover,Blue (Area 51),CLOTH SANDSTONE/BLK SEATS BLACK ONYX INTERIOR,0 mi,1FMDE5AH3NLB11244,NLB11244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Ford,Bronco,2022.0,SUV / crossover,Blue (AREA 51),GRAY/BLACK,0 mi,1FMDE5BH9NLB12171,F11583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Ford,Bronco,2022.0,SUV / crossover,HOT Pepper Red MET Tint,Dark Space Gray,0 mi,1FMDE5BH2NLA84536,NLA84536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,171,NaN,Tundra,NaN,NaN,NaN,NaN,5 miles,5TFPC5DB5NX004915,NaN,...,NaN,17 MPG City\n23 MPG Highway\n19 MPG Combined,NaN,437 hp 3.5L V6 Hybrid,Four-Wheel Drive,Hybrid,Y21156,New,Large Crew Cab,NaN
172,172,NaN,Tundra,NaN,NaN,NaN,NaN,10 miles,5TFMA5DB6NX034823,NaN,...,NaN,17 MPG City\n23 MPG Highway\n19 MPG Combined,NaN,389 hp 3.5L V6,Four-Wheel Drive,Gasoline,NX034823,New,Large Crew Cab,NaN
173,173,NaN,Tundra,NaN,NaN,NaN,NaN,6 miles,5TFVC5DB5NX002511,NaN,...,NaN,17 MPG City\n23 MPG Highway\n19 MPG Combined,NaN,437 hp 3.5L V6 Hybrid,Four-Wheel Drive,Hybrid,Y21198,New,Large Crew Cab,NaN
174,174,NaN,Tundra,NaN,NaN,NaN,NaN,---,5TFVC5DB8NX002583,NaN,...,Black (Blk/Wht Semi-Aniline Lth),17 MPG City\n23 MPG Highway\n19 MPG Combined,NaN,437 hp 3.5L V6 Hybrid,Four-Wheel Drive,Hybrid,221616,New,Large Crew Cab,NaN
175,175,NaN,Tundra,NaN,NaN,NaN,NaN,248 miles,5TFLA5DB1NX019691,NaN,...,Black,17 MPG City\n23 MPG Highway\n19 MPG Combined,NaN,389 hp 3.5L V6,Four-Wheel Drive,Gasoline,NaN,New,"Large Crew Cab, Short Bed",NaN

In [35]:
len(all_scraping_data)

1840

In [37]:
all_scraping_data.to_csv('../Resources/all_scraping_data.csv', index=False)