In [69]:
import pandas as pd
from datetime import datetime as dt
from functools import reduce
from sqlalchemy import create_engine
import psycopg2 
from config import password, database, username

In [86]:
car_df = pd.read_csv("../Resources/all_scraping_data7.csv")

car_df

,MSRP,Dealer's Price,Price,Make,Model,Year,Transmission,Mileage,Dealer Name,Dealer Address,Lat,Lng
0,"$67,935","$67,935","$68,218",Jeep,Wrangler,2022,8-Speed Automatic,15 miles,Premier CDJR of Lamesa,"1611 Lubbock Hwy Lamesa, TX 79331",32.747877,-101.950811
1,"$69,920","$69,920","$69,920",Jeep,Wrangler,2022,8-Speed Automatic,---,Shottenkirk Prosper Chrysler Dodge Jeep Ram,"2550 W University Dr Prosper, TX 75078",33.220389,-96.841397
2,"$68,700","$68,700","$68,700",Jeep,Wrangler,2022,8-Speed Automatic,3 miles,Pegasus CDJR,"305 South Interstate Highway 45 Ennis, TX 75119",32.331286,-96.615465
3,"$70,475","$70,475","$70,475",Jeep,Wrangler,2022,8-Speed Automatic,---,Classic Chrysler Dodge Jeep Ram Fiat,"1111 E Interstate 20 Arlington, TX 76018",32.679079,-97.114775
4,"$70,870","$70,870","$70,870",Jeep,Wrangler,2022,8-Speed Automatic,---,Classic Chrysler Dodge Jeep Ram Fiat,"1111 E Interstate 20 Arlington, TX 76018",32.679079,-97.114775
...,...,...,...,...,...,...,...,...,...,...,...,...
389,"$68,600","$68,600","$68,600",Toyota,Tundra,2022,Automatic,5 miles,Gullo Toyota of Conroe,"500 I-45 South, Conroe, TX 77304",30.300935,-95.468648
390,"$67,253","$68,748","$68,748",Toyota,Tundra,2022,Automatic,10 miles,Sterling McCall Toyota Fort Bend,"20465 Southwest Freeway, Richmond, TX 77469",29.558633,-95.694698
391,"$78,001","$78,001","$78,001",Toyota,Tundra,2022,Automatic,6 miles,Gullo Toyota of Conroe,"500 I-45 South, Conroe, TX 77304",30.300935,-95.468648
392,"$78,426","$78,426","$78,426",Toyota,Tundra,2022,Automatic,---,Mike Calvert Toyota,"2333 South Loop West, Houston, TX 77054",29.676139,-95.414021
393,Not Provided,"$78,990","$78,990",Toyota,Tundra,2022,Automatic,248 miles,Mike Calvert Toyota,"2333 South Loop West, Houston, TX 77054",29.676139,-95.414021

In [88]:
for index in range(len(car_df)):
    print(car_df.loc[index, "MSRP"],
         car_df.loc[index, "Dealer's Price"])

$67,935  $67,935
$69,920  $69,920
$68,700  $68,700
$70,475  $70,475
$70,870  $70,870
$47,511  $47,511
$47,892  $47,892
$48,957  $48,957
$48,957  $50,073
$48,957  $50,073
$50,312  $50,312
$51,376  $51,376
$51,957  $51,957
$51,957  $51,957
$51,957  $51,957
$51,965  $51,965
$51,957  $53,073
$55,731  $56,847
$57,936  $57,936
$60,281  $60,281
$61,248  $61,248
$61,729  $62,845
$64,165  $65,281
$66,042  $66,042
$67,227  $68,343
$67,652  $68,768
$77,922  $77,922
$78,347  $78,347
Not Provided $32,020
Not Provided $40,470
Not Provided $42,015
Not Provided $44,495
$46,520  $46,520
$52,955  $62,955
$54,270  $54,270
$54,920  $54,920
$55,725  $55,725
Not Provided $56,590
$57,235  $57,235
Not Provided $57,590
$63,245  $63,245
$64,185  $64,185
Not Provided $68,990
Not Provided $41,990
Not Provided $42,990
Not Provided $43,590
$112,839  $112,839
$114,590  $114,590
$115,139  $115,139
Not Provided $115,139
$115,139  $115,139
$115,139  $115,139
$115,139  $115,139
$115,439  $115,439
$46,015  $46,015
$37,855  $37,855
$46,370  $46,370
$35,350  $34,100
$37,950  $36,961
$37,855  $37,855
$43,040  $42,141
$44,980  $43,442
Not Provided $44,990
$46,885  $46,885
$46,015  $46,015
$46,370  $46,370
$47,670  $47,670
$45,975  $46,725
$46,525  $47,275
$47,520  $47,850
$37,275  $34,175
$38,560  $38,560
$38,660  $38,660
$39,370  $39,370
Not Provided $39,590
$39,575  $39,575
$41,330  $40,561
$41,330  $40,716
$39,910  $40,910
$40,305  $41,305
$40,305  $41,305
$43,250  $43,250
$43,160  $44,160
$43,265  $44,265
$45,945  $45,945
$50,535  $50,535
$50,990  $50,990
$50,220  $49,771
$39,565  $36,465
$39,565  $36,465
$42,370  $39,270
$42,715  $39,615
$42,765  $39,665
$42,765  $41,609
$42,985  $39,885
$43,065  $39,965
$40,060  $40,060
$40,060  $40,060
$40,160  $40,160
$45,225  $42,125
$42,980  $42,980
$43,480  $43,480
$43,920  $43,920
$44,880  $44,880
$46,150  $45,650
Not Provided $45,835
$46,545  $46,045
$45,820  $45,820
$49,875  $46,775
$47,045  $47,045
$47,045  $47,045
$50,670  $47,570
$46,365  $47,365
$51,065  $47,965
$51,370  $48,270
$47,010  $48,010
$48,130  $48,130
$51,765  $48,665
$48,685  $48,685
$52,210  $49,110
$52,560  $49,460
$52,560  $49,460
$52,560  $49,460
$50,220  $49,771
$50,395  $50,395
$50,790  $50,790
$50,790  $50,790
$51,035  $51,035
$51,165  $51,088
$51,215  $51,138
$50,860  $50,860
$52,230  $52,152
$53,505  $53,425
$53,045  $53,045
$53,805  $53,724
$56,940  $53,616
$54,250  $54,250
$54,510  $54,510
$55,665  $55,665
$55,365  $55,365
$55,760  $55,760
$56,575  $56,575
$59,700  $57,056
$57,725  $57,725
$58,170  $58,170
$59,765  $59,765
$60,765  $60,765
$62,265  $62,172
$67,525  $67,424
$80,995  $80,995
$60,695  $60,695
$58,280  $54,880
$58,885  $55,485
$59,280  $55,880
$58,280  $58,280
$58,280  $58,280
$58,550  $58,550
$58,580  $58,580
$58,945  $58,945
$59,770  $59,770
$60,695  $60,695
$60,375  $60,375
$61,075  $61,075
$61,470  $61,470
$61,470  $61,470
$61,570  $61,570
$61,770  $61,770
$61,570  $61,570
$61,935  $61,935
$65,725  $62,325
$62,525  $62,525
$62,220  $62,220
$62,220  $62,220
$62,920  $62,920
$62,920  $62,920
$64,190  $64,190
$67,935  $67,935
$69,685  $69,685
Not Provided $47,723
Not Provided $49,039
$48,957  $48,957
$49,970  $49,970
Not Provided $50,453
$54,796  $54,796
$55,317  $55,317
$58,469  $58,469
$58,640  $58,640
$59,949  $59,949
$65,187  $65,187
$70,377  $70,377
Not Provided $32,020
Not Provided $40,470
Not Provided $42,015
Not Provided $44,495
$45,465  $45,465
$46,520  $46,520
$46,775  $46,775
$49,115  $49,115
$49,115  $49,115
$52,955  $62,955
$51,760  $51,760
$54,270  $54,270
$54,920  $54,920
$55,725  $55,725
Not Provided $56,590
Not Provided $57,590
$63,245  $63,245
$64,185  $64,185
Not Provided $68,990
Not Provided $58,674
$31,855  $31,855
$31,855  $31,855
Not Provided $41,990
Not Provided $42,990
Not Provided $43,590
$112,839  $112,839
$114,590  $114,590
$115,139  $115,139
Not Provided $115,139
$115,139  $115,139
$115,139  $115,139
$115,139  $115,139
$115,439  $115,439
$35,350  $34,100
$37,950  $36,961
$40,220  $43,219
$43,040  $42,141
$44,980  $43,442
$45,605  $44,355
Not Provided $44,990
$46,885  $46,885
$44,870  $47,169
$47,670  $47,670
$45,975  $46,725
$46,525  $47,275
$47,520  $47,850
$50,190  $50,190
$47,945  $47,945
$37,275  $34,175
$37,940  $37,940
$38,560  $38,560
$38,660  $38,660
$39,200  $39,200
$39,370  $39,370
Not Provided $39,590
$39,685  $39,685
$39,575  $39,575
$40,620  $40,620
$39,910  $40,910
$41,175  $41,175
$41,180  $41,180
$40,305  $41,305
$40,305  $41,305
$42,270  $42,270
$42,740  $42,740
$42,740  $42,740
$43,250  $43,250
$44,300  $44,300
$40,220  $43,955
$43,160  $44,160
$43,265  $44,265
$45,780  $45,780
$45,780  $45,780
$45,780  $45,780
$45,945  $45,945
$47,550  $47,550
$47,945  $47,945
$50,190  $50,190
$50,525  $50,525
$50,535  $50,535
$50,990  $50,990
$58,305  $58,305
$51,870  $51,870
$39,565  $36,465
$39,565  $36,465
$42,370  $39,270
$42,715  $39,615
$42,765  $39,665
$42,765  $41,609
$42,985  $39,885
$43,065  $39,965
$40,060  $40,060
$40,060  $40,060
$58,280  $54,880
$58,280  $54,880
$58,885  $55,485
$59,280  $55,880
$57,085  $57,085
$58,975  $57,475
$59,380  $57,880
$59,475  $57,975
$59,475  $57,975
Not Provided $58,230
$59,775  $58,275
Not Provided $58,380
Not Provided $58,625
$60,385  $58,885
$60,470  $58,970
$58,580  $58,580
$59,070  $59,070
$59,070  $59,070
$60,730  $59,230
$59,350  $59,350
$57,480  $59,480
$59,675  $59,675
$59,770  $59,770
$59,870  $59,870
$60,070  $60,070
$60,070  $60,070
$60,070  $60,070
$60,070  $60,070
$60,070  $60,070
$60,070  $60,070
$60,070  $60,070
$60,080  $60,080
$60,250  $60,250
$58,280  $60,280
$58,280  $60,280
$58,280  $60,280
$58,280  $60,280
$58,280  $60,280
$61,855  $60,355
$60,645  $60,645
$60,645  $60,645
$60,730  $60,730
$60,770  $60,770
$60,940  $60,940
$61,860  $61,860
$59,965  $61,965
$59,965  $61,965
$65,725  $62,325
$61,935  $61,935
$57,480  $62,480
$62,860  $62,860
$61,075  $63,075
$63,075  $63,075
$63,170  $63,170
$61,925  $63,925
$62,550  $64,550
$60,425  $64,900
$61,165  $65,888
$66,560  $66,560
$67,105  $67,105
$67,560  $67,560
$67,935  $67,935
$68,885  $68,885
$64,480  $69,888
$70,030  $70,030
$71,195  $71,195
$70,935  $72,935
$70,970  $74,888
$70,055  $75,888
$73,055  $77,888
$38,878  $38,878
$38,878  $38,878
$42,220  $42,220
$45,101  $45,101
$46,719  $46,719
$47,381  $47,381
$47,976  $47,976
$48,905  $48,905
$48,906  $50,401
$48,957  $48,957
$48,984  $48,984
$49,036  $49,036
$48,957  $48,957
$49,409  $49,409
$51,566  $53,061
$51,910  $51,910
$50,451  $51,946
$52,044  $52,044
$52,044  $52,044
$52,471  $52,471
$55,733  $55,733
$56,014  $56,014
$56,114  $56,114
$56,114  $56,114
$57,556  $57,556
$65,378  $65,378
$58,970  $58,970
$58,640  $58,640
$59,218  $60,713
$59,233  $59,233
$60,242  $60,242
$59,949  $59,949
$62,052  $62,052
$62,325  $62,325
$66,645  $66,645
$67,771  $67,771
$68,600  $68,600
$67,253  $68,748
$78,001  $78,001
$78,426  $78,426
Not Provided $78,990

In [19]:
engine = create_engine(f"postgresql://{username}:{password}@localhost:5432/{database}")
conn = engine.connect()

In [20]:
engine.table_names()

/var/folders/qt/z1139kj16rq91qs03f19sz2c0000gn/T/ipykernel_93464/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['car_scrape_db', 'car_scrape']

In [21]:
car_df.to_sql(name='car_scrape', con=engine, if_exists='replace', index=False)